
body {
    font-family: Arial, sans-serif;
    background: #20232a;
    color: white;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 10px;
}
#precioTotal {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    color: #66ff99;
}


/*CABECERA*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #635eb1;
    align-items: center;
}    

/*BARRA*/
.header-nav{
    padding-right: 50px;
}

.nav-link {
    display: inline-block;              /* Necesario para transform */
    color: white;
    text-decoration: none;
    padding: 5px 12px;
    margin: 5px;
    border-radius: 5px;
    transition: 
    transform 0.25s ease,
    background-color 0.25s ease,
    box-shadow 0.25s ease;
}

.nav-link:hover {
    transform: scale(1.15) translateY(-3px);
    background-color: rgb(41, 8, 102);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* opcional, queda lindo */
}

/**/
body {
  font-family: Arial, sans-serif;
  background: #20232a;
  color: white;
  margin: 0;
  padding: 0;
}

.header {
  background: #635eb1;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 0;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: transform .2s ease;
}

.nav-link:hover {
  transform: translateY(-3px);
  background: #4a46a5;
  border-radius: 5px;
}


.steam-card {
  width: 95%;
  height: 180px;
  background: #141414;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  padding: 15px;
  margin: 15px auto;
  color: white;
  font-family: Arial, sans-serif;
}

.steam-left {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steam-avatar {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  object-fit: cover;
  border: 2px solid #555;
}

.steam-center {
  flex-grow: 1;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.steam-row {
  display: flex;
  gap: 15px;
  margin-bottom: 8px;
}

.label {
  font-weight: bold;
  color: #b2b2b2;
}

.value {
  color: white;
}

.stats span {
  background: #1d324a;
  padding: 3px 8px;
  border-radius: 5px;
}

.steam-description {
  background: #330000;
  padding: 10px;
  border-radius: 8px;
  margin: 8px 0;
}

.steam-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.seller {
  background: #0f3c0f;
  padding: 6px 12px;
  border-radius: 6px;
}

.price {
  background: #003300;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
}
